<!DOCTYPE html>
<html>
<head>
<div id="header">

<h1>URLShortener</h1>

</div>
  <title>URLShortener</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<div id="footer">
© 2016 URLShortener.Created By Rajender ,  <a href="https://github.com/nunerajender">Github</a> and
<a href="https://twitter.com/rajender_nune">Twitter</a>
</div

</body>
</html>
<style type="text/css">
body {
    background-color:lightgrey;
}
#header {
    background-color:green;
    color:#f68720;
    text-align:center;
    padding:5px;
}

#footer {
    background-color:green;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 
</style>


</body>
</html>